:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.ttf") format("TrueType");
}

body {
    font-family: "Manrope";
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--Dark-Blue);
    height: 100vh;
}

main {
    max-width: 474px;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    font-weight: 800;
}

main>section {
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Dark-Grayish-Blue);
}

main>section>span {
    letter-spacing: 5px;
    color: var(--Neon-Green);
    font-size: .7rem;
}

main>section>p {
    color: var(--Light-Cyan);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main>section>img {
    margin-bottom: 2rem;
}

main>section>button {
    cursor: pointer;
    background-color: var(--Neon-Green);
    padding: .8rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all .5s;
}

main>section>button>img {
    width: 20px;
    height: 20px;
}

main>section>button:hover {
    box-shadow: 0 0 25px var(--Neon-Green);
}

@media screen and (max-width:375px) {
    main {
        width: 90%;
    }
}